<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    {% endblock %}


</head>
<body style="background-color: #16191c; color: white">

{% block body %}
<div class="d-flex flex-row">
    {% include 'base.html.twig' %}

    <div class="flex-grow-1">
    <h1>Créer votre évènement</h1>

    {{ form_start(form) }}
    <div>
        {{ form_row(form.name,{'label': 'Nom'}) }}
    </div>
    <div>
        {{ form_row(form.date,{'label': 'Date'}) }}
    </div>
    <div>
        {{ form_row(form.duration,{'label': 'Duree'}) }}
    </div>
    <div>
        {{ form_row(form.type,{'label': 'Type'}) }}
    </div>
    <div>
        {{ form_row(form.id_playground,{'label': 'ID PlayGround'}) }}
    </div>
    <button type="submit">Créer</button>
    {{ form_end(form) }}
{% endblock %}
    </div>
</div></body></html>