
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
    <h1>Inscription</h1>

    {{ form_start(form) }}
    <div>
        {{ form_row(form.name,{'label': 'Nom'}) }}
    </div>
    <div>
        {{ form_row(form.date,{'label': 'Date'}) }}
    </div>
    <div>
        {{ form_row(form.duration,{'label': 'Duree'}) }}
    </div>
    <div>
        {{ form_row(form.type,{'label': 'Type'}) }}
    </div>
    <div>
        {{ form_row(form.id_playground,{'label': 'ID PlayGround'}) }}
    </div>
    <button type="submit">S'inscrire</button>
    {{ form_end(form) }}
{% endblock %}
