{#  {% extends 'base.html.twig' %}#}

{% block stylesheets %}
     {#  {{ parent() }} #}
    <link rel="stylesheet" href="{{ asset('assets/styles/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('assets/styles/style.css') }}">
{% endblock %}

{#  {% block title %}Inscription{% endblock %} #}

{% block body %}
    <div class="d-flex flex-row">
        {% include 'base.html.twig' %}

        <div class="flex-grow-1">
            <!-- Contenu à droite de la barre latérale -->
            <div>
                <!-- Votre contenu ici -->
                <div class="container">
                    <h1 class="text-center">Inscription</h1>
                    <!-- Créez le formulaire en utilisant les noms des propriétés de l'entité User -->
                    <form method="post" action="{{ path('app_inscription') }}" class="row g-3">
                        {{ form_row(form.lname, {'attr': {'class': 'form-control', 'placeholder': 'Last Name'}}) }}
                        {{ form_row(form.fname, {'attr': {'class': 'form-control', 'placeholder': 'First Name'}}) }}
                        {{ form_row(form.nickname, {'attr': {'class': 'form-control', 'placeholder': 'Nickname'}}) }}
                        {{ form_row(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
                        {{ form_row(form.password, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
                    {#  {{ form_row(form.confirmPassword, {'attr': {'class': 'form-control', 'placeholder': 'Confirm Password'}}) }}#}

                        <div class="col-12">

                        </div>

                        {{ form_end(form) }}
                    </form>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
