{% for message in app.flashes('error') %}
    <div class="alert alert-danger">{{ message }}</div>
{% endfor %}

{% for message in app.flashes('info') %}
    <div class="alert alert-info">{{ message }}</div>
{% endfor %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/login.css') }}">
    {% endblock %}
</head>
<body>

<div class="container">
    <form method="post" action="{{ path('app_login') }}">
        <h1>Connexion</h1>
        <input type="text" class="form-control" id="_email" name="_email" aria-describedby="emailHelp" placeholder="Email" required><br>
        <input type="password" class="form-control" id="_password" name="_password" placeholder="Mot de passe" required><br>
        <input type="submit" value="Connexion"><br>
        <a href="{{ path('app_inscription') }}">Créer un compte</a><br>
        <a href="#">Mot de passe oublié</a>
    </form>

    <div class="drop drop-1"></div>
    <div class="drop1 drop-2"></div>
    <div class="drop drop-3"></div>
    <div class="drop1 drop-4"><a href="{{ path('app_home') }}"><img src="../images/logoo.png" width="120" height="120"></a></div>
    <div class="drop drop-5"></div>
</div>

</body>
</html>
