<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    {% endblock %}


</head>
<body style="background-color: #16191c; color: white">

{% block body %}
    <div class="d-flex flex-row">
        {% include 'base.html.twig' %}

        <div class="flex-grow-1">

                {% if app.user and 'ROLE_ADMIN' in app.user.roles %}
                    <div>
                        <h2>Informations admin</h2>
                        <p>Prénom : {{ app.user.fname }}</p>
                        <p>Nom de famille : {{ app.user.lname }}</p>
                        <p>Nom d'utilisateur : {{ app.user.nickname }}</p>
                        <p>Email : {{ app.user.email }}</p>
                        <p>Date de création : {{ app.user.createdAt|date('Y-m-d H:i:s') }}</p>
                        <p>Rôles : {{ app.user.roles|join(', ') }}</p>
                    </div>
                    <a class="dropdown-item" href="{{ path('app_unseen_events') }}"><button class="btn btn-primary">Valider les évènements</button></a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
