<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    {% endblock %}


</head>
<body style="background-color: #16191c; color: white">

{% block body %}
<div class="d-flex flex-row">
    {% include 'base.html.twig' %}

    <div class="flex-grow-1">
    <h1>Événements non validés</h1>

    <table>
        <thead>
        <tr>
            <th>Nom</th>
            <th>Date</th>
            <th>Durée</th>
            <th>Type</th>
            <th>Terrain</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for event in events %}
            <tr>
                <td>{{ event.name }}</td>
                <td>{{ event.date|date('d/m/Y H:i') }}</td>
                <td>{{ event.duration }}</td>
                <td>{{ event.type }}</td>
                {# <td>{{ event.idPlayground.name }}</td> #}
                <td>
                <td>
                    <a href="{{ path('app_validate_event', {'id': event.id}) }}">
                        <button class="btn btn-success">Valider</button>
                    </a>
                    <a href="{{ path('app_refuse_event', {'id': event.id}) }}">
                        <button class="btn btn-danger">Refuser</button>
                    </a>
                </td>



                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">Aucun événement non validé.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}