<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/profil.css') }}">
    {% endblock %}


</head>

{% block body %}
    <div class="d-flex flex-row">
        {% include 'base.html.twig' %}

        <div class="flex-grow-1 main-body">

            {% if app.user %}
                <div class="container">
                    <div>
                        <h2>Informations utilisateur</h2>
                        <p>Prénom : {{ app.user.fname }}</p>
                        <p>Nom de famille : {{ app.user.lname }}</p>
                        <p>Nom d'utilisateur : {{ app.user.nickname }}</p>
                        <p>Email : {{ app.user.email }}</p>
                        <p>Date de création : {{ app.user.createdAt|date('Y-m-d H:i:s') }}</p>
                        {#  {% if app.user.roles is not empty %}
                        <p>Rôles : {{ app.user.roles|join(', ') }}</p>
                        {% endif %}  #}
                    </div>
                    <li>
                        <button type="submit" class="btn btn-primary mt-3"><a href="{{ path('app_account_update') }}"
                                                                              style="color: white">Modifier le compte</a>
                        </button>
                    </li>
                    <li>
                        <button type="submit" class="btn btn-primary mt-3"><a href="{{ path('app_account_delete') }}"
                                                                              style="color: white">Supprimer le compte</a>
                        </button>
                    </li>
                </div>

            {% endif %}
        </div>
    </div>
{% endblock %}

