<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/create_evenement.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/css/bouton.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">
    {% endblock %}

</head>
<body style="background-color: #16191c; color: white">

{% block body %}
    <div class="d-flex flex-row">
        {% include 'base.html.twig' %}

        <div class="flex-grow-1">
            <div class="login-box">
                {% if app.user %}
                    <h2>Modifier mon compte</h2>
                    {{ form_start(form) }}
                    <div class="user-box">
                        {{ form_label(form.lname, 'Nom', {'label_attr': {'class': 'user-box-label'}}) }}
                        <br>
                        {{ form_widget(form.lname, {'attr': {'class': 'user-box-input'}}) }}
                    </div>
                    <div class="user-box">
                        {{ form_label(form.fname, 'Prénom', {'label_attr': {'class': 'user-box-label'}}) }}
                        <br>
                        {{ form_widget(form.fname, {'attr': {'class': 'user-box-input'}}) }}
                    </div>
                    <div class="user-box">
                        {{ form_label(form.nickname, 'Pseudo', {'label_attr': {'class': 'user-box-label'}}) }}
                        <br>
                        {{ form_widget(form.nickname, {'attr': {'class': 'user-box-input'}}) }}
                    </div>

                    <button class="submit-button" type="submit">Mettre à jour</button>
                    {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}

</body>
</html>
