{# {% extends 'base.html.twig' %}  #}


{% block body %}
<div class="d-flex flex-row">
    {% include 'base.html.twig' %}

    <div class="flex-grow-1">
    <h1>Modifier mon compte</h1>

    {{ form_start(form) }}
    {{ form_row(form.lname, {'label': 'Nom'}) }}
    {{ form_row(form.fname, {'label': 'Prénom'}) }}
    {{ form_row(form.nickname, {'label': 'Pseudo'}) }}
    <button type="submit" class="btn btn-primary">Mettre à jour</button>
    {{ form_end(form) }}
    </div>
</div>
{% endblock %}
