<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    {% endblock %}


</head>
<body style="background-color: #16191c; color: white">

{% block body %}
    <div class="d-flex flex-row">
        {% include 'base.html.twig' %}

        <div class="flex-grow-1">

            <div class="texte">
                <h1 align="center">MAPS</h1><br><br>
            </div>

            <div id="map" style="display: flex; justify-content: center;">

                <iframe
                        width="600"
                        height="450"
                        frameborder="0" style="border:0"
                        loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"
                        src="https://www.google.com/maps/embed/v1/search?key=AIzaSyBnW33gsPk9fX8La9VSMOzIrF_A8DlYAPg&q=terrains+basket+in+Paris"
                        allowfullscreen>
                </iframe>
            </div>
            <div class="text-center">
            {% if app.user %}
            <select id="terrainSelect" class="d-none" onchange="updateButtons()" >

                <option value="">Choisissez un terrain</option>
                {% for terrain in terrains %}
                    <option value="{{ terrain.id }}">{{ terrain.name }}</option>
                {% endfor %}
            </select>

            <div id="buttonsDiv" style="display: none;">
                {% if hasActiveSession %}
                    <form id="endSessionForm" method="POST" action="{{ path('app_session_end') }}">
                        <button type="button" id="leaveButton">Je n'y suis plus</button>
                        <div id="noteField" style="display: none;">
                            <label for="note">Note (sur 5 ):</label>
                            <input type="number" id="note" name="note" min="0" max="5" step="1" required>
                            <button type="submit" id="submitNoteButton">Terminer votre session </button>
                        </div>
                    </form>


                {% else %}
                    <form id="createSessionForm" method="POST" action="{{ path('app_session_create') }}">
                        <input type="hidden" id="selectedTerrain" name="terrain_id">
                        <button type="submit">J'y suis</button>
                    </form>
                {% endif %}
            </div>
            {% endif %}</div>

        </div>

        <!-- Bootstrap Bundle with Popper -->
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.bundle.min.js"></script>

        <script>
            function updateButtons() {
                var selectElement = document.getElementById("terrainSelect");
                var buttonsDiv = document.getElementById("buttonsDiv");
                var selectedTerrainInput = document.getElementById("selectedTerrain");

                if (selectElement.value !== "") {
                    buttonsDiv.style.display = "block";
                    selectedTerrainInput.value = selectElement.value;

                    // Masquer le bouton "Je n'y suis plus" si aucune session active et un terrain est sélectionné
                    if (!{% if hasActiveSession %}true{% else %}false{% endif %}) {
                        document.querySelector('#endSessionForm').style.display = 'none';
                        document.querySelector('#createSessionForm').style.display = 'block';
                    }
                } else {
                    buttonsDiv.style.display = "none";
                    selectedTerrainInput.value = "";
                }
            }

            // Afficher ou masquer le bouton initial en fonction de hasActiveSession
            {% if hasActiveSession %}
            document.getElementById("buttonsDiv").style.display = "block";
            document.getElementById("terrainSelect").classList.add("d-none");
            {% else %}
            document.getElementById("buttonsDiv").style.display = "none";
            document.getElementById("terrainSelect").classList.remove("d-none");
            {% endif %}

            document.getElementById("leaveButton").addEventListener("click", function(event) {
                event.preventDefault();
                var noteField = document.getElementById("noteField");
                noteField.style.display = "block";
            });
            const leaveButton = document.getElementById('leaveButton');
            leaveButton.addEventListener('click', function() {
                leaveButton.style.display = 'none';
            });
        </script>


    </div>
{% endblock %}
