<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('styles/css/style.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css">

    {% endblock %}


</head>
<body style="background-color: #16191c; color: white">

{% block body %}
    <div class="d-flex flex-row">
        {% include 'base.html.twig' %}

        <div class="flex-grow-1">

            <div class="texte">
                <h1 align="center">MAPS</h1><br><br>
            </div>

            <div class="texte">
                <form method="get" action="{{ path('app_maps') }}">
                    <select class="form-control" name="sport" onchange="this.form.submit()">
                        <option value="" disabled selected>Choisissez un sport</option>
                        <option value="basket">BasketBall</option>
                        <option value="foot">FootBall</option>
                    </select>
                </form>
            </div>

        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        const sport = "{{ app.request.get('sport') }}";
        if (sport === 'basket') {
            window.location.href = "{{ path('app_maps_basket') }}";
        } else if (sport === 'foot') {
            window.location.href = "{{ path('app_maps_foot') }}";
        }
    </script>
{% endblock %}

</body>
</html>
